<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>imgurPractice</title>
  </head>
  <body>

    <h1>Hello, this is the Front Page</h1>

    <a href="/upload">Upload an image</a>
  </body>
</html>
